<div class="btn-group text-center" role="group">
  <%= link_to "Store", store_products_url, class: "btn btn-secondary" %>
  <%= link_to "Products", products_url, class: "btn btn-secondary" %>
  <%= link_to "Categories", categories_url, class: "btn btn-secondary" %>
  <%#= link_to "Brands", "#", class: "btn btn-secondary" %>
</div>
